/****************************************************************************************************
*   Medistream Theming File
*
*   Contains style for overridden template files
*
****************************************************************************************************/

/***   Home  ***/

.home .media > .hero {
  background-size: 75% !important;
}

.home>header .title>hgroup h2 {
  font-size: 16px;
}

/***   Dashboard  ***/

.view-register .introduction header .title .title-sub {
  font-size: 18px;
}

/***   Call to action buttons   ***/

// .cta.ms-theme {
//   height: 45px;
//   width: 134px;
//   padding: 10px 16px;
//   border-radius: 6px;
//   font-size: 18px;
//   font-weight: normal;
//   line-height: 1.33em;
// }

// .cta-login.ms-theme {
//   background-color: #fff;
//   border: 1px solid $blue-darker;

//   &:hover {
//     background-color: #e6e6e6;
//   }
// }

/***   Footer   ***/

footer {

}