## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>

<div class="wrapper-footer">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
          <li><a href="http://dev.medistream.es">©2014 Medistream</a></li>
          <li><a href="http://dev.medistream.es/#/terms">Condiciones de servicio</a></li>
          <!-- li><a href="${reverse('tos')}#privacy">Privacidad</a></li> -->
          <!-- <li><a href="${reverse('tos')}#honor">Honor Code</a></li> -->
          <li><a href="http://dev.medistream.es/#/terms">Copyright</a></li>
          <!-- <li><a href="${reverse('about_edx')}#careers">Careers</a></li> -->
          <li><a href="http://dev.medistream.es/#/contact">Contacto</a></li>
          <li><a href="${marketing_link('FAQ')}">Ayuda</a></li>
        </ol>
      </nav>
    </div>
<!--     <div class="references">
      <span>Built on <a href="http://code.edx.org">OpenEdX</a>.</span>
    </div> -->
  </footer>
</div>
